.notfound {
    text-align: center;
    margin-top: 100px; /* Adjust as needed */
}

.notfound h1 {
    font-size: 3em;
    color: #333;
}

.notfound p {
    font-size: 1.2em;
    color: #666;
}

.notfound a {
    color: #007bff;
    text-decoration: none;
}

.notfound a:hover {
    text-decoration: underline;
}
