<div class="search-container">
    <form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="accountNumber">Account Number</label>
        <input type="text" class="form-control search-input" id="accountNumber" formControlName="accountNumber" placeholder="Enter Account Number">
        <div *ngIf="(searchForm?.get('accountNumber')?.invalid??false)&& (searchForm?.get('accountNumber')?.dirty || searchForm?.get('accountNumber')?.touched)" class="error-message">
        
        </div>
      </div>
      <button type="submit" class="btn btn-primary search-btn">Search</button>
    </form>
  </div>
  <div class="container" *ngIf="showContainer">
    <div class="profile">
      <div class="profile-header">
        <h2>Transaction Details</h2>
      </div>
      <div class="profile-body">
        <div class="transaction-row">
          <div *ngFor="let transaction of transactionDetails" class="transaction-card">
            <div class="transaction">
              <div class="profile-field">
                <label>Transaction ID:</label>
                <span>{{ transaction.transactionId }}</span>
              </div>
              <div class="profile-field">
                <label>Account ID:</label>
                <span>{{ transaction.accountId }}</span>
              </div>
              <div class="profile-field">
                <label>Amount:</label>
                <span>{{ transaction.amount | customeCurrency }}</span>
              </div>
              <div class="profile-field">
                <label>Date:</label>
                <span>{{ transaction.transactionDate | date: 'medium' }}</span>
              </div>
              <div class="profile-field">
                <label>Description:</label>
                <span>{{ transaction.description }}</span>
              </div>
              <div class="profile-field">
                <label>Type:</label>
                <span>{{ transaction.transactionType }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  