h2 {
    color: #4285f4;
    margin-top: 20px;
    font-size: 24px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container take up the full height of the viewport */
}

.account-details {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.info-row {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

.active {
  color: green;
}

.inactive {
  color: red;
}
