h2{
    text-align: center;
    color: #4285f4;
}
.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid #4285f4; /* Border for the entire table */
}

.transaction-table th, .transaction-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #dddddd; /* Border for each cell */
}

.transaction-table th {
    background-color: #f2f2f2;
    color: #333333;
    font-weight: bold;
}

.transaction-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transaction-table tbody tr:hover {
    background-color: #e9e9e9;
}


.odd-row {
    background-color: #f9f9f9;
}

.even-row {
    background-color: #dbe0e9;
}

.delete-btn {
    background-color: #b83737;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #8b2929;
}
.deposit {
    color: rgb(19, 145, 19); 
}

.withdraw {
    color: rgb(230, 37, 15); /* Change to your desired color for withdrawals */
}
