
<div class="main-container">
    <div class="container navbar-container">
    <div class="container">
        <div class="row">
          <div class="col">
           
            <div class="nav-item">
            
              <a class="btn btn-primary" routerLink="add-transaction" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Transaction</a>
            </div>
          
              <div class="nav-item">
                <a class="btn btn-primary" routerLink="view-transaction" routerLinkActive="active">View Transaction</a>
              </div>
              <div class="nav-item">
                <a class="btn btn-primary" routerLink="find-transaction" routerLinkActive="active">Find Transaction</a>
              </div>
             
          </div>
         
        </div>
      </div>
    
        <!-- Content here -->
      </div>
     
          <!-- Content here -->
        </div>
        <router-outlet></router-outlet>
    
      