

    <div class="hero">
        <h2>Welcome to Swiss National Bank</h2>
        
    </div>
    <span class="cd">
        <button  (click)="login()">Login</button>
        <button (click)="logout()">Logout</button>
    </span>
    <div>
       
    
    <!-- <img src="../../assets/download.jpg"
    height="400px"
    style="margin-left: 200px;"
    />
     -->
   
<div class="container" >
    <img src="../../assets/New folder/download77.jpg"
    width="44.5%"
    style="margin-left:310px; margin-top: 10px;"
    />
</div>


